html,body{
  overflow-x:hidden;
  scroll-behavior: smooth;
background-color:black;
  box-sizing: border-box;
  padding: 0;
  margin:0;

}

.btn {
opacity: 1;
  position: relative;
  float:none;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* text */
  .text-content{
z-index: 99;
top:0px;
overflow: hidden;
color: WHITE;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 25px;
      background-color:rgb(255, 190, 14);
    border-top: 12px red solid ;
    background-size:contain;
    background-repeat: no-repeat;
    background-image:url("headerpage.svg");
      background-attachment: fixed;
height:40vh;
text-align:center;
  font-size: 80px;
  	animation-name: slideExpandUp;
animation-duration: 1.6s;
  animation-timing-function: ease-out;
  	visibility: visible !important;
  }
@keyframes slideExpandUp {
  	0% {
  		transform: translateY(100%) scaleX(0.5);
  	}
  	30%{
  		transform: translateY(-8%) scaleX(0.5);
  	}
  	40%{
  		transform: translateY(2%) scaleX(0.5);
  	}
  	50%{
  		transform: translateY(0%) scaleX(1.1);
  	}
  	60%{
  		transform: translateY(0%) scaleX(0.9);
  	}
  	70% {
  		transform: translateY(0%) scaleX(1.05);
  	}
  	80%{
  		transform: translateY(0%) scaleX(0.95);
  	}
  	90% {
  		transform: translateY(0%) scaleX(1.02);
  	}
  	100%{
  		transform: translateY(0%) scaleX(1);
  	}
  }

}
.BCCK{
  padding: 0;
  background-position: center;

  height: 100vh;
  width:100%;
  overflow: hidden;
}
/* canvas :  */

#cvs{
  margin-top:100px;
overflow: hidden;
padding-bottom: 1px;
  height: 60vh;
  width:100%;
background-color: black;
}
#ca{
height: 50vh;
  font-size: 200px;
  color:white;
  position: relative;
  text-align: center;
  	animation-name: floating;
  	animation-duration: 1.5s;
  	animation-iteration-count: infinite;

  }

  @keyframes floating {
  	0% {
  		transform: translateY(0%);
  	}
  	50% {
  		transform: translateY(8%);
  	}
  	100% {
  		transform: translateY(0%);
  	}
  }


.bck{
   margin-left: 20
    opacity:0.5;
  background-size: cover;
  background-image: url("part1.jpg");
  background-repeat: no-repeat;
  height: 100vh;

  width: 100%;
  animation-delay: 3s;
  animation: back 2s linear  infinite ;
animation-play-state: paused;
transition: 5s back;
}
@keyframes back {
  0%{
    background-image:url("part1.jpg");
  }
  10%{
    background-image:url("2.jpg");

    }
20%{
      background-image:url("3.jpg");
}
30%{
      background-image:url("4.jpg");
}
40%{
      background-image:url("5.jpg");
}
50%{
      background-image:url("6.jpg");
}
60%{
      background-image:url("7.jpg");
}
70%{
      background-image:url("8.jpg");
}
80%{
      background-image:url("9.jpg");
}
90%{
      background-image:url("10.jpg");
}
100%{
      background-image:url("12.jpg");
}
  }


/* footer */


.footer{
  padding:
  height: 40vh;
  width: 100%;
  background-color: black;
  border-top:white 5px solid ;

}
@media screen and (min-width: 601px) {
  p #ca{
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  p#ca {
    font-size: 30px;
  }
}
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}@media screen and (min-width: 601px) {
  div.text-content {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.text-content {
    font-size: 30px;
  }
}

.teffect{

position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%,-50%);
font-size:  150px;



}
li{
  list-style-type: none;
}
.footer{padding: 100px;
  height: 30vh;
  color: white;
  text-align: center;
}
/* svgg voiced */



#voiced{

  overflow: hidden;
  position: absolute;
height:40vh;
top: 50%;
left:50%;
transform: translate(-50%,-50%);

}
.card-body{
  background: linear-gradient( rgb(81, 182, 245),rgb(102, 246, 155));
}
.text-muted{
  text-align: right;

}
.talk{
margin-left: 80px;
  position:absolute;
  top: 50%;
  left:30%;
  transform: translate(-50%,-50%);

  border-radius: 10% 10%;
   color: white;
  background-color: rgb(24, 73, 191);
}

@media screen and (max-width: 400px) {
h3.text-muted{
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  h3.text-muted{
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  svg#voiced{
      opacity:0;

  }
}
